# Working with SQL databases using the %sql magic Jupyter extension 
prepared by Dr. Kostas Kalpakis for CMSC461@UMBC (Fall 2020)

In [ ]:
# uncomment the next line to read from stdin
# x = input('whats is going to be ?')
# print(x)

We demonstrate a simple way to interact with an SQLite database that uses
%sql and %%sql magics.
It can also be used with MySQL databases as well for a proper database connection string. 
Database connection URL strings follow the 
<A href="http://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls">SQLAlchemy URL</A> standard.

See https://github.com/catherinedevlin/ipython-sql for further information regarding the use of the %sql magic in Jupyter notebooks. For help wih the magic, use ? %sql in a code cell.

In [ ]:
# Install or upgrade the ipython-sql magics
!pip install ipython-sql
#!pip install --upgrade ipython-sql

## Setup and load packages and extensions

In [1]:
# setup and load the sql magic extension
#%matplotlib inline
%pylab inline

%load_ext sql

%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [2]:
%config SqlMagic

SqlMagic(Magics, Configurable) options
------------------------------------
SqlMagic.autocommit=<Bool>
    Set autocommit mode
    Current: True
SqlMagic.autolimit=<Int>
    Automatically limit the size of the returned result sets
    Current: 0
SqlMagic.autopandas=<Bool>
    Return Pandas DataFrames instead of regular result sets
    Current: False
SqlMagic.column_local_vars=<Bool>
    Return data into local variables from column names
    Current: False
SqlMagic.displaycon=<Bool>
    Show connection string after execute
    Current: True
SqlMagic.displaylimit=<Int>
    Automatically limit the number of rows displayed (full result set is still
    stored)
    Current: None
SqlMagic.dsn_filename=<Unicode>
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
    Current: 'odbc.ini'
SqlMagic.feedback=<Bool>
    Print number of rows affected by DML
    Current: True
SqlMagic.short_errors=<Bool>
    Don't display the full traceback on SQL Programming Error
    Current: True
SqlMagic.style=<Unicode>
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM)
    Current: 'DEFAULT'

## Connecting to a database

In [3]:
# import some needed packages
import urllib.request

In [68]:
# for SQLite databases 

# set the pathname for the local file that stores the SQLite database
db_filename = 'test.sqlite'

# download remote database from remote_db_url (if not None) to local db_filename
remote_db_url = "https://www.csee.umbc.edu/~kalpakis/courses/common/university-db.sqlite"
#remote_db_url = None

# download the remote SQLite database file to the local file db_filename
if remote_db_url is not None:
  urllib.request.urlretrieve(remote_db_url, filename=db_filename)
  print(f'downloaded {remote_db_url} \n\tto local file {db_filename}')

# set the database connection URL string
connection_url = f'sqlite:///{db_filename}'

downloaded https://www.csee.umbc.edu/~kalpakis/courses/common/university-db.sqlite
	to local file test.sqlite

In [ ]:
# for MySQL databases 
# for user 'scott' with password 'tiger' connecting to database 'foo' 
# running on database server at IP address 'localhost', 
# the connection URL string will look like 
# connection_url = 'mysql+pymysql://scott:tiger@localhost/foo'
# 
if True:
  # get DB username and password from the standard input
  import getpass
  db_user = getpass.getpass('Enter DB username')
  db_password = getpass.getpass('Enter DB password')
  db_name = 'electionpolls'
  connection_url = f'mysql+mysqlconnector://{db_user}:{db_password}@localhost/{db_name}'

# Activity 1

In [77]:
import sqlite3

conn = sqlite3.connect("database.db")
cursor = conn.cursor()

# Create a new ballot
question = "What is your favorite color?"
answer = "Blue"
av_start = "2022-06-01 00:00:00"
av_end = "2022-06-30 23:59:59"
cursor.execute("INSERT INTO Ballots (Question, Answer, Av_Start, Av_End) VALUES (?, ?, ?, ?)", (question, answer, av_start, av_end))
conn.commit()
conn.close()

OperationalError: no such table: Ballots

# Activity 2

In [ ]:
import sqlite3


conn = sqlite3.connect("database.db")
cursor = conn.cursor()
pin = "123456"
ballot_id = 1
center_id = "1001"
cursor.execute("INSERT INTO Registers (PIN, Ballot_ID, Center_ID) VALUES (?, ?, ?)", (pin, ballot_id, center_id))

conn.commit()
conn.close()

# Activity 5

In [ ]:
import sqlite3


conn = sqlite3.connect("database.db")
cursor = conn.cursor()
pin = "123456"
cursor.execute("DELETE FROM Folks WHERE PIN=?", (pin,))

conn.commit()
conn.close()

## List the name, city, and email of all folk #1

In [70]:
# Open a connection to the database
%sql {connection_url}

In [26]:
%%sql

SELECT Folks.f_name, Places.city, Folk_email.email_address FROM 
Folks NATURAL JOIN lives NATURAL JOIN Places NATURAL JOIN Folk_email;

 * mysql+mysqlconnector://root:***@localhost/electionpolls
4 rows affected.

[('Evan', 'Tilted Towers', 'evana1@umbc.edu'),
 ('Ava', 'Dusty Depot', 'asekow12@umbc.edu'),
 ('Lightning', 'Tilted Towers', 'ThunderMcKing@umbc.edu'),
 ('Tow', 'Tilted Towers', 'Toemato@umbc.edu')]

# ##List the city, state, and the number of residents of each city in Wonderland(skip cities with no residents) in decreasing order of number of residents #2

In [28]:
%%sql
SELECT city, state, COUNT(lives.PIN) AS numOf FROM Places NATURAL JOIN lives GROUP BY city
HAVING numOf > 0 ORDER BY numOf DESC;

 * mysql+mysqlconnector://root:***@localhost/electionpolls
2 rows affected.

[('Tilted Towers', 'Fortnite', 3), ('Dusty Depot', 'Kansas', 1)]

## List each state together with its number of currently inhabited places (include states with no inhabited places) in increasing alphabetical order. #3

In [31]:
%%sql
SELECT Places.state, COUNT(lives.PIN) AS numOfResidences FROM Places INNER JOIN lives ON Places.p_id = lives.p_id GROUP BY state;

 * mysql+mysqlconnector://root:***@localhost/electionpolls
2 rows affected.

[('Fortnite', 3), ('Kansas', 1)]

# Find the distinct identifiers of folks registered at a given voting center within a given time period #4

In [58]:

%%sql
SELECT DISTINCT Folks.PIN
FROM Folks
JOIN Registers ON Folks.PIN = Registers.PIN
JOIN Voting_Centers ON Registers.Center_ID = Voting_Centers.Center_ID
JOIN Ballots ON Registers.Ballot_ID = Ballots.Ballot_ID
WHERE Voting_Centers.Center_ID = '3001'
AND Ballots.Av_Start BETWEEN '2022-06-09 09:30:00' AND '2022-06-09 14:00:00';

 * mysql+mysqlconnector://root:***@localhost/electionpolls
0 rows affected.

[]

# Find for a given month, the number of unique registrations at any voting center which is within 5 miles from the center of Megapolis, except for voting centers in a given (exclusion) list of voting centers #5

In [72]:
%%sql
INSERT INTO Exclusion_List (Center_ID)
VALUES ('1001'), ('1002'), ('1003');

SELECT COUNT(DISTINCT Registers.PIN)
FROM Registers
INNER JOIN Voting_Centers ON Registers.Center_ID = Voting_Centers.Center_ID
WHERE Voting_Centers.X BETWEEN -5 AND 5
AND Voting_Centers.Y BETWEEN -5 AND 5
AND MONTH(Voting_Time) = 6
AND Voting_Centers.Center_ID NOT IN (SELECT Center_ID FROM Exclusion_List);

 * mysql+mysqlconnector://root:***@localhost/electionpolls

DBAPIError: (_mysql_connector.MySQLInterfaceError) Commands out of sync; you can't run this command now
(Background on this error at: https://sqlalche.me/e/14/dbapi)

# Find the most popular voting center(s) (in terms of total number of registrations) in a given time period among those in a given city. #6

In [73]:
%%sql
SELECT Voting_Centers.Center_ID, COUNT(Registers.PIN) AS Total_Registrations
FROM Voting_Centers
INNER JOIN Registers ON Voting_Centers.Center_ID = Registers.Center_ID
INNER JOIN Places ON Voting_Centers.p_id = Places.p_id
WHERE Places.city = 'city'
AND Registers.Voting_Time BETWEEN 'start_date' AND 'end_date'
GROUP BY Voting_Centers.Center_ID
HAVING COUNT(Registers.PIN) = (SELECT MAX(Count) FROM (SELECT COUNT(Registers.PIN) AS Count
FROM Voting_Centers
INNER JOIN Registers ON Voting_Centers.Center_ID = Registers.Center_ID
INNER JOIN Places ON Voting_Centers.p_id = Places.p_id
WHERE Places.city = 'city'
AND Registers.Voting_Time BETWEEN 'start_date' AND 'end_date'
GROUP BY Voting_Centers.Center_ID) AS Subquery)

 * mysql+mysqlconnector://root:***@localhost/electionpolls
(mysql.connector.errors.OperationalError) MySQL Connection not available.
[SQL: SELECT Voting_Centers.Center_ID, COUNT(Registers.PIN) AS Total_Registrations
FROM Voting_Centers
INNER JOIN Registers ON Voting_Centers.Center_ID = Registers.Center_ID
INNER JOIN Places ON Voting_Centers.p_id = Places.p_id
WHERE Places.city = 'city'
AND Registers.Voting_Time BETWEEN 'start_date' AND 'end_date'
GROUP BY Voting_Centers.Center_ID
HAVING COUNT(Registers.PIN) = (SELECT MAX(Count) FROM (SELECT COUNT(Registers.PIN) AS Count
FROM Voting_Centers
INNER JOIN Registers ON Voting_Centers.Center_ID = Registers.Center_ID
INNER JOIN Places ON Voting_Centers.p_id = Places.p_id
WHERE Places.city = 'city'
AND Registers.Voting_Time BETWEEN 'start_date' AND 'end_date'
GROUP BY Voting_Centers.Center_ID) AS Subquery)]
[parameters: [{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__s ... (191896 characters truncated) ... es.p_id\nWHERE Places.city = 'city'\nAND Registers.Voting_Time BETWEEN 'start_date' AND 'end_date'\nGROUP BY Voting_Centers.Center_ID) AS Subquery)"}]]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# Find the unique folk that have valid registrations with every voting center on a given state #7

In [44]:
%%sql
SELECT Folks.PIN
FROM Folks
INNER JOIN Registers ON Folks.PIN = Registers.PIN
INNER JOIN Voting_Centers ON Registers.Center_ID = Voting_Centers.Center_ID
INNER JOIN Places ON Voting_Centers.p_id = Places.p_id
WHERE Places.state = 'Fortnite'
GROUP BY Folks.PIN
HAVING COUNT(DISTINCT Voting_Centers.Center_ID) = (SELECT COUNT(DISTINCT Center_ID) FROM Voting_Centers
INNER JOIN Places ON Voting_Centers.p_id = Places.p_id
WHERE Places.state = 'Fortnite');

 * mysql+mysqlconnector://root:***@localhost/electionpolls
2 rows affected.

[('0000000000000005',), ('0000000000000009',)]

# Find folks that registered at a voting center that is farther away than the voting center closest to their residence (break ties alphabetically by center’s acronym).  #8

In [45]:
%%sql

SELECT Folks.PIN, Registers.Center_ID, MIN(DISTANCE) AS Closest_Distance, DISTANCE AS Actual_Distance
FROM Folks
INNER JOIN Registers ON Folks.PIN = Registers.PIN
INNER JOIN Voting_Centers ON Registers.Center_ID = Voting_Centers.Center_ID
INNER JOIN Places AS Residence ON Folks.p_id = Residence.p_id
INNER JOIN Places AS Voting_Center ON Voting_Centers.p_id = Voting_Center.p_id
LEFT JOIN (SELECT Center_ID, (X - Residence.X) * (X - Residence.X) + (Y - Residence.Y) * (Y - Residence.Y) AS DISTANCE
FROM Voting_Centers
INNER JOIN Places ON Voting_Centers.p_id = Places.p_id) AS Closest_Centers ON Closest_Centers.Center_ID = Voting_Centers.Center_ID
WHERE Actual_Distance > Closest_Distance
OR (Actual_Distance = Closest_Distance AND Voting_Centers.Center_ID > Closest_Centers.Center_ID)
GROUP BY Folks.PIN

 * mysql+mysqlconnector://root:***@localhost/electionpolls
(mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'Residence.X' in 'field list'
[SQL: SELECT Folks.PIN, Registers.Center_ID, MIN(DISTANCE) AS Closest_Distance, DISTANCE AS Actual_Distance
FROM Folks
INNER JOIN Registers ON Folks.PIN = Registers.PIN
INNER JOIN Voting_Centers ON Registers.Center_ID = Voting_Centers.Center_ID
INNER JOIN Places AS Residence ON Folks.p_id = Residence.p_id
INNER JOIN Places AS Voting_Center ON Voting_Centers.p_id = Voting_Center.p_id
LEFT JOIN (SELECT Center_ID, (X - Residence.X) * (X - Residence.X) + (Y - Residence.Y) * (Y - Residence.Y) AS DISTANCE
FROM Voting_Centers
INNER JOIN Places ON Voting_Centers.p_id = Places.p_id) AS Closest_Centers ON Closest_Centers.Center_ID = Voting_Centers.Center_ID
WHERE Actual_Distance > Closest_Distance
OR (Actual_Distance = Closest_Distance AND Voting_Centers.Center_ID > Closest_Centers.Center_ID)
GROUP BY Folks.PIN]
(Background on this error at: https://sqlalche.me/e/14/f405)

# Write a SQL function that returns the acronym of the voting center closest to the residence of a given folk among those whose operating period(s) contain a given date (return NULL if no such center exists; break ties at alphabetically by acronym) #9

In [75]:
%%sql
CREATE FUNCTION get_closest_voting_center(PIN varchar(16), date DATE, distance DOUBLE) RETURNS varchar(4)
BEGIN
  DECLARE acronym varchar(4);

  SELECT Voting_Centers.Center_ID
  INTO acronym
  FROM Lives
  INNER JOIN Places ON Lives.p_id = Places.p_id
  INNER JOIN Operating_Times ON Operating_Times.Center_ID = Voting_Centers.Center_ID
  INNER JOIN Voting_Centers ON Voting_Centers.p_id = Places.p_id
  WHERE Lives.PIN = PIN
  AND date BETWEEN Operating_Times.Open_Time AND Operating_Times.Closing_Time
  AND HAVERSINE(Places.X, Places.Y, Voting_Centers.X, Voting_Centers.Y) <= distance
  ORDER BY HAVERSINE;

 * mysql+mysqlconnector://root:***@localhost/electionpolls
(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 14
[SQL: CREATE FUNCTION get_closest_voting_center(PIN varchar(16), date DATE, distance DOUBLE) RETURNS varchar(4)
BEGIN
  DECLARE acronym varchar(4);

  SELECT Voting_Centers.Center_ID
  INTO acronym
  FROM Lives
  INNER JOIN Places ON Lives.p_id = Places.p_id
  INNER JOIN Operating_Times ON Operating_Times.Center_ID = Voting_Centers.Center_ID
  INNER JOIN Voting_Centers ON Voting_Centers.p_id = Places.p_id
  WHERE Lives.PIN = PIN
  AND date BETWEEN Operating_Times.Open_Time AND Operating_Times.Closing_Time
  AND HAVERSINE(Places.X, Places.Y, Voting_Centers.X, Voting_Centers.Y) <= distance
  ORDER BY HAVERSINE;]
(Background on this error at: https://sqlalche.me/e/14/f405)

# For a given ballot, construct a cross-tabulation of voting centers (acronym) as rows, unique ballot answers (options) as columns, and cells indicating number of cast votes at the row’s center with the column’s option. #10

In [76]:
%%sql

SELECT Voting_Centers.Center_ID AS acronym, [Option1] AS [Option 1], [Option2] AS [Option 2], [Option3] AS [Option 3]
FROM (
  SELECT Cast_Votes.Center_ID, Cast_Votes.Ballot_ID, Ballots.Answer
  FROM Cast_Votes
  INNER JOIN Ballots ON Cast_Votes.Ballot_ID = Ballots.Ballot_ID
  WHERE Cast_Votes.Ballot_ID = 123
) AS votes
PIVOT (
  COUNT(votes.Answer) FOR votes.Answer IN ([Option1], [Option2], [Option3])
) AS pivot_table
INNER JOIN Voting_Centers ON pivot_table.Center_ID = Voting_Centers.Center_ID
GROUP BY Voting_Centers.Center_ID, [Option1], [Option2], [Option3];

 * mysql+mysqlconnector://root:***@localhost/electionpolls
(mysql.connector.errors.ProgrammingError) 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[Option1] AS [Option 1], [Option2] AS [Option 2], [Option3] AS [Option 3]
FROM (' at line 1
[SQL: SELECT Voting_Centers.Center_ID AS acronym, [Option1] AS [Option 1], [Option2] AS [Option 2], [Option3] AS [Option 3]
FROM (
  SELECT Cast_Votes.Center_ID, Cast_Votes.Ballot_ID, Ballots.Answer
  FROM Cast_Votes
  INNER JOIN Ballots ON Cast_Votes.Ballot_ID = Ballots.Ballot_ID
  WHERE Cast_Votes.Ballot_ID = 123
) AS votes
PIVOT (
  COUNT(votes.Answer) FOR votes.Answer IN ([Option1], [Option2], [Option3])
) AS pivot_table
INNER JOIN Voting_Centers ON pivot_table.Center_ID = Voting_Centers.Center_ID
GROUP BY Voting_Centers.Center_ID, [Option1], [Option2], [Option3];]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Executing SQL statements

Execute a SQL statement against the database connection

In [11]:
%%sql
SELECT *
FROM Folks;

 * mysql+mysqlconnector://root:***@localhost/electionpolls
13 rows affected.

[('0000000000000001', datetime.date(1999, 1, 1), '4104105556', None, None, 'Evan', 'Allgair', None),
 ('0000000000000002', datetime.date(1999, 2, 1), '4104105557', None, None, 'Ava', 'Sekowski', None),
 ('0000000000000003', datetime.date(1999, 3, 1), '4104105558', None, None, 'Lightning', 'McQueen', None),
 ('0000000000000004', datetime.date(1999, 4, 1), '4104105559', None, None, 'Tow', 'Mator', None),
 ('0000000000000005', datetime.date(1999, 5, 1), '4104105560', None, None, 'Sally', 'Car', None),
 ('0000000000000006', datetime.date(1999, 6, 1), '4104105561', None, None, 'Fred', 'Johnson', None),
 ('0000000000000007', datetime.date(1999, 7, 1), '4104105562', None, None, 'Spongebob', 'SquarePants', None),
 ('0000000000000008', datetime.date(1999, 8, 1), '4104105563', None, None, 'Ryan', 'Fred', None),
 ('0000000000000009', datetime.date(1999, 9, 1), '4104105564', None, None, 'Mike', 'Torque', None),
 ('0000000000000010', datetime.date(1999, 10, 1), '4104105565', None, None, 'King', 'Barb', None),
 ('0000000000000011', datetime.date(1999, 11, 1), '4104105566', None, None, 'Queen', 'Archer', None),
 ('0000000000000012', datetime.date(1999, 12, 1), '4104105567', None, None, 'Electro', 'Dragon', None),
 ('0000000000000013', datetime.date(2000, 1, 1), '4104105568', None, None, 'Super', 'Troop', None)]